/* CSS

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}
.container {
   background-color: white;
   display: grid;
   display: flex;
   grid-template-columns: repeat(3, 1fr 1fr 1fr);
   flex-wrap: wrap;
   width: 100vw;
   height: 30vh;
   text-align: center;
}

.foot-fix {
  position: fixed; bottom: 0;
  font-size: 1rem;
  width: 100vw;
  color: rgb(255, 255, 255);
  background-color: #343232;
  border: 1px solid #343232;
}


/* header */

/* .header {
    background-image: url(../../img/blueeye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: repeat(3, 1fr 1fr 1fr);
    width: 100vw;
} */






* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {scroll-behavior:smooth
} 

a {
  text-decoration: none;
  color: #ffffff;
}

body {
    font-family: 'Ubuntu', sans-serif ;
    width: 100vw;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* header */

.AD {
    background-image: url(./img/img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
    min-height: fit-content;
    padding: 3rem;
} 

.AD-title {
    width: 50%;
    height: 100%;
    padding left: 2rem;
    line-height: 200px;
}

.AD-title > span {
    color: #ffffff;
    justify-content: left;
    font-size: 2.6rem;
    font-weight: 900;
    background-color: none;
}

.AD-content-set {
   width: 50%;
   height: 100%;
}

.AD-content {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;   
    width: 100%;
    margin : 3rem 0.5rem;
}

.AD-btn {
    align-self: center;
    background-color: goldenrod;
    color: #ffffff;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    width: 180px;
    border-radius: 3px;
    flex-wrap: wrap;
    padding: 0.8rem;
}


/* body */
.main {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 1rem ;
}

.item-box {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
}

.item {
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 3px;
    width: 21rem;
    height: 24rem;
}

.item-img {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
}

.image-box {
   width: 100%;
   height: 60%;
   position: relative;
}

.image-box > h3 {
    background-color: hsla(0, 0%, 0%, 0.8);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    color: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: 900;
}

.image-box > img {
    height: 100%;
    width: 100%;
}

.item-img > p {
    padding: 1rem;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
    width: 20rem;
    height: 6rem;
    line-height: 1.2rem;
    row-gap: 15px;
}

.item > button {
    width: 100%;
    margin-bottom: 2rem;
}

.main-item-btn {
    align-self: center;
    background-color: #e2b007;
    color: #ffffff;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    border-radius: 3px;
    padding: 1rem;

}

/* footer */

.footer {
   width: 100%;
   height: 6%;
   position: fixed; bottom: 0;
   display: grid;
   grid-template-columns: 1fr;
}

.foot-fixed {
  font-size: 60%;
  color: rgb(255, 255, 255);
  background-color: #343232;
  border: 1px solid #343232;
  text-align: center;
  line-height: 20%;
  padding: 1.5rem;
}
